*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.topBar{
    font-size: 20px;
    height: 80px;
    text-align: right;
    margin: 20px;
}
.topBar a{
    text-decoration: none;
    margin: auto 10px;
    cursor: pointer;
}
.topBar a:hover{
    text-decoration: underline;
}
.topBar img{
    width: 20px;
    height: 20px;
    margin: auto 10px;
    cursor: pointer;
    /* margin: 10px; */
}
/* span{
    padding: auto 5px;
    background-color: red;
} */
/* span{
    padding: 8px 3px;
    justify-content: center;
}
span:hover{
    background-color: rgb(177, 175, 175);
    border-radius: 50%;
    border: solid 1px red;
} */
#mail{
    border-radius: 50%;
    background-color: green;
    padding: 5px 8px;
    font-weight: bolder;
    color: #ffff;
}
#mail:hover{
    text-decoration: none;

}
.logoName{
    text-align: center;
}
.logoName img{
    margin: auto;
    width: 40vw;
    height: 100px;
}
.icons{
    font-size: 30px;
    color: greenyellow;    
    top: 5px;
    position: relative;
}
#search{
    left: 50px
}
#mic{
    right: 50px;
}
.inputArea{
    text-align: center;
    margin-top: 50px;
}
input{
    width: 60vw;
    height: 8vh;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
    /* position: absolute; */
}
.buttons{
    text-align: center;
    margin: 20px auto;
}
button{
    font-size: medium;
    color: rgb(82, 78, 78);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 243, 243);
    margin-right: 10px;
    cursor: pointer;
}
button:hover{
    border: 1px solid rgb(207, 205, 205);
}
.language{
    font-size: 1em;
    text-align: center;
    
}
.language a{
    color: rgb(40, 40, 175);
    padding: 1em;
    margin-top: 1em;
    text-decoration: none;
}
.language a:hover{
    text-decoration: underline;
}
.footer-wrapper{
    bottom: 0;
    right: 0;
    left: 0;
    position:absolute;
    background-color: rgb(241, 241, 241);
    font-size: 1.2em;
}
.footer-wrapper a{
    color: gray;
    text-decoration: none;
}
.footer-wrapper a:hover{
    text-decoration: underline;
}
.footer-top{
    margin-left: 20px;
    padding: 1em;
    color: rgb(94, 91, 91);
}
.footer-bottom{
    margin-left: 20px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(218, 212, 212);
    
}
.left a{
    margin-right: 1em;
    color: gray;
}
.right a{
    margin-right: 1em;
    color: gray;
}

